{% extends 'homepage.html' %}

{% block title %}
    Perfil - Fake pinterest
{% endblock %}

{% block content %}
    <body>
    {% include 'navbar.html' %}
    <div class="container">
        {% if form_foto %}
            <div class="bloco-add-img">
                <div class="div-foto-usuario">
                    <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil.imagem)) }}"
                         alt="Logo do usuário {{ usuario.username }}">
                </div>
                <h2 class="nome-usuario">{{ usuario.username }}</h2>

                <h3>Faça seu post</h3>
                <form method="post" enctype="multipart/form-data" class="form-post-img">
                    {{ form_foto.csrf_token }}
                    <div class="bloco-arquivo">
                        <label for="foto" class="botao-arquivo">
                            Escolher arquivo
                            {{ form_foto.foto(class='input-arquivo', id='foto') }}
                        </label>
                        <span id="imagem-arquivo" class=""></span>
                    </div>

                    {{ form_foto.botao_post(class='botao-login') }}
                </form>
            </div>
            </div>
        {% else %}
            <div class="bloco-add-img">
                <div class="div-foto-usuario">
                    <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil.imagem)) }}"
                         alt="Logo do usuário {{ usuario.username }}">
                </div>
                <h2 class="nome-usuario">{{ usuario.username }}</h2>
            </div>
        {% endif %}

    <div class="conteudo">
        {% for foto in usuario.fotos %}
            <div class="bloco-imagem">
                <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" alt="Default">
                <div class="gradient-overlay"></div>
                <div class="info-usuario-container">
                    <div class="div-logo-usuario">
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(foto.usuario.foto_perfil.imagem)) }}"
                             alt="Logo do usuário {{ foto.usuario.username }}">
                    </div>
                    <span>{{ foto.usuario.username }}</span>
                </div>
                {% if form_foto %}
                    <form method="post">
                        {{ form_foto.csrf_token }}
                        <button type="submit" name="deletar-imagem" class="botao-deletar" value="{{ foto.id }}">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}

{% block script %}
    <script>
        let input = document.getElementById("foto");
        let imagemArquivo = document.getElementById("imagem-arquivo");

        input.addEventListener("change", () => {
            let inputImagem = document.querySelector("input[type=file]").files[0];

            imagemArquivo.classList.add("visivel");
            imagemArquivo.innerText = inputImagem.name;
        });
    </script>
{% endblock %}