{% extends 'homepage.html' %}

{% block title %}
	Peril - Fake pinterest
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    {% if form %}
        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.foto }}
            {{ form.botao_confirmacao }}
        </form>
    {% endif %}
    <h1>Perfil do usuário: {{ usuario.email }}</h1>

    {% for foto in usuario.fotos %}
        <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" alt="Default">
    {% endfor %}
{% endblock %}